
<h1 style="width:100%;text-align: center;"><%= title %></h1>

<%- messages() %>

<form id="updateForm" method="post" action="/inv/update">

    <label for="classification_id">Classification:</label>
    <%- classificationSelect %>
    
    <label for="inv_make">Make:</label>
    <input type="text" id="inv_make" name="inv_make" required
        value="<%= locals.inv_make ? locals.inv_make : '' %>">

    <label for="inv_model">Model:</label>
    <input type="text" id="inv_model" name="inv_model" required
        value="<%= locals.inv_model ? locals.inv_model : '' %>">

    <label for="inv_year">Year:</label>
    <input type="number" id="inv_year" name="inv_year" required
        value="<%= locals.inv_year ? locals.inv_year : '' %>">

    <label for="inv_description">Description:</label>
    <textarea id="inv_description" name="inv_description"
        required><%= locals.inv_description ? locals.inv_description : '' %></textarea>

    <label for="inv_image">Image URL:</label>
    <input type="text" id="inv_image" name="inv_image" required
        value="<%= locals.inv_image ? locals.inv_image : '/images/no-image.png' %>">

    <label for="inv_thumbnail">Thumbnail URL:</label>
    <input type="text" id="inv_thumbnail" name="inv_thumbnail" required
        value="<%= locals.inv_thumbnail ? locals.inv_thumbnail : '/images/no-image.png' %>">

    <label for="inv_price">Price:</label>
    <input type="number" id="inv_price" name="inv_price" required
        value="<%= locals.inv_price ? locals.inv_price : '' %>">

    <label for="inv_miles">Miles:</label>
    <input type="number" id="inv_miles" name="inv_miles" required
        value="<%= locals.inv_miles ? locals.inv_miles : '' %>">

    <label for="inv_color">Color:</label>
    <input type="text" id="inv_color" name="inv_color" required
        value="<%= locals.inv_color ? locals.inv_color : '' %>">

    <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>
    <br><br>
    <button type="submit">Update Vehicle</button>
</form>

<script>
    const form = document.getElementById('addInvForm');

    form.addEventListener('submit', function (event) {
        let errors = [];

        const classification_id = document.getElementById('classification_id');
        const inv_make = document.getElementById('inv_make').value;
        const inv_model = document.getElementById('inv_model').value;
        const inv_year = document.getElementById('inv_year').value;
        const inv_description = document.getElementById('inv_description').value;
        const inv_image = document.getElementById('inv_image').value;
        const inv_thumbnail = document.getElementById('inv_thumbnail').value;
        const inv_price = document.getElementById('inv_price').value;
        const inv_miles = document.getElementById('inv_miles').value;
        const inv_color = document.getElementById('inv_color').value;

        if (classification_id.value == '') {
            errors.push('Please select a classification.');
        }
        if (inv_make.trim() === "") {
            errors.push("Please enter a make.");
        }
        if (inv_model.trim() === "") {
            errors.push("Please enter a model.");
        }
        if (inv_year.trim() === "") {
            errors.push("Please enter a year.");
        }
        if (inv_description.trim() === "") {
            errors.push("Please enter a description.");
        }
        if (inv_image.trim() === "") {
            errors.push("Please enter an image URL.");
        }
        if (inv_thumbnail.trim() === "") {
            errors.push("Please enter a thumbnail URL.");
        }
        if (inv_price.trim() === "") {
            errors.push("Please enter a price.");
        }
        if (inv_miles.trim() === "") {
            errors.push("Please enter the miles.");
        }
        if (inv_color.trim() === "") {
            errors.push("Please enter a color.");
        }

        if (errors.length > 0) {
            event.preventDefault();
            alert(errors.join('\n'));
        }
    });
</script>